openapi: 3.1.2
info:
  title: weather.gov Alerts Icons API
  description: weather.gov API
  version: 3.8.1
  x-last-validated: '2026-05-03'
servers:
- url: https://api.weather.gov
  description: Production server
security:
- userAgent: []
- apiKeyAuth: []
tags:
- name: Icons
paths:
  /icons/{set}/{timeOfDay}/{first}:
    parameters:
    - name: set
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: timeOfDay
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: first
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: size
      in: query
      description: Font size
      schema:
        anyOf:
        - enum:
          - small
          - medium
          - large
          type: string
        - maximum: 500
          minimum: 10
          type: integer
    - name: fontsize
      in: query
      description: Font size
      schema:
        maximum: 24
        minimum: 2
        type: integer
    get:
      description: Returns a forecast icon. Icon services in API are deprecated.
      operationId: icons
      responses:
        '200':
          description: success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/CorrelationId'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
            X-Server-Id:
              $ref: '#/components/headers/ServerId'
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/BinaryFile'
        default:
          $ref: '#/components/responses/Error'
      deprecated: true
      parameters: []
      summary: Weather.gov Returns a Forecast Icon. Icon Services in API Are Deprecated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Icons
  /icons/{set}/{timeOfDay}/{first}/{second}:
    parameters:
    - name: set
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: timeOfDay
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: first
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: second
      in: path
      description: .
      required: true
      schema:
        type: string
    - name: size
      in: query
      description: Font size
      schema:
        anyOf:
        - enum:
          - small
          - medium
          - large
          type: string
        - maximum: 500
          minimum: 10
          type: integer
    - name: fontsize
      in: query
      description: Font size
      schema:
        maximum: 24
        minimum: 2
        type: integer
    get:
      description: Returns a forecast icon. Icon services in API are deprecated.
      operationId: iconsDualCondition
      responses:
        '200':
          description: success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/CorrelationId'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
            X-Server-Id:
              $ref: '#/components/headers/ServerId'
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/BinaryFile'
        default:
          $ref: '#/components/responses/Error'
      deprecated: true
      parameters: []
      summary: Weather.gov Returns a Forecast Icon. Icon Services in API Are Deprecated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Icons
  /icons:
    get:
      description: Returns a list of icon codes and textual descriptions. Icon services in API are deprecated.
      operationId: icons_summary
      responses:
        '200':
          description: success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/CorrelationId'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
            X-Server-Id:
              $ref: '#/components/headers/ServerId'
          content:
            application/ld+json:
              schema:
                required:
                - icons
                type: object
                properties:
                  '@context':
                    $ref: '#/components/schemas/JsonLdContext'
                  icons:
                    type: object
                    additionalProperties:
                      required:
                      - description
                      type: object
                      properties:
                        description:
                          type: string
                      additionalProperties: false
                additionalProperties: false
        default:
          $ref: '#/components/responses/Error'
      deprecated: true
      parameters: []
      summary: Weather.gov Returns a List of Icon Codes and Textual Descriptions. Icon Services in API Are Deprecated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Icons
components:
  headers:
    ServerId:
      description: 'The identifier of the server that generated the response, used for NWS debugging purposes. Please include this identifier with any correspondence to help us investigate your issue.

        '
      schema:
        type: string
    CorrelationId:
      description: 'A unique identifier for the request, used for NWS debugging purposes. Please include this identifier with any correspondence to help us investigate your issue.

        '
      schema:
        type: string
    RequestId:
      description: 'A unique identifier for the request, used for NWS debugging purposes. Please include this identifier with any correspondence to help us investigate your issue.

        '
      schema:
        type: string
  schemas:
    BinaryFile:
      type: string
      format: binary
    ProblemDetail:
      required:
      - type
      - title
      - status
      - detail
      - instance
      - correlationId
      type: object
      properties:
        type:
          type: string
          description: 'A URI reference (RFC 3986) that identifies the problem type. This is only an identifier and is not necessarily a resolvable URL.

            '
          format: uri
          default: about:blank
          examples:
          - urn:noaa:nws:api:UnexpectedProblem
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
          - Unexpected Problem
        status:
          maximum: 999
          minimum: 100
          type: number
          description: 'The HTTP status code (RFC 7231, Section 6) generated by the origin server for this occurrence of the problem.

            '
          examples:
          - 500
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - An unexpected problem has occurred.
        instance:
          type: string
          description: 'A URI reference (RFC 3986) that identifies the specific occurrence of the problem. This is only an identifier and is not necessarily a resolvable URL.

            '
          format: uri
          examples:
          - urn:noaa:nws:api:request:493c3a1d-f87e-407f-ae2c-24483f5aab63
        correlationId:
          type: string
          description: 'A unique identifier for the request, used for NWS debugging purposes. Please include this identifier with any correspondence to help us investigate your issue.

            '
          examples:
          - 493c3a1d-f87e-407f-ae2c-24483f5aab63
      description: Detail about an error. This document conforms to RFC 7807 (Problem Details for HTTP APIs).
      additionalProperties: true
    JsonLdContext:
      anyOf:
      - type: array
        items: {}
      - type: object
  responses:
    Error:
      description: An error response.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/CorrelationId'
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        X-Server-Id:
          $ref: '#/components/headers/ServerId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
  securitySchemes:
    userAgent:
      type: apiKey
      description: 'We require that all consumers of the API include a User-Agent header in requests. This is due to a high number of scripts exhibiting abusive behavior (intentional or unintentional). We recommend setting the value to something that identifies your application and includes a contact email. This will help us contact you if we notice unusual behavior and also aid in troubleshooting issues.

        The API remains open and free to use and there are no limits imposed based on the User-Agent string.

        This mechanism will be replaced with a more typical API key system at a later date.

        '
      name: User-Agent
      in: header
    apiKeyAuth:
      type: apiKey
      description: 'We are testing including a more traditional API Key system on certain endpoints.  This is due to a large change in the weather.gov site.

        The API remains open and free to use and there are no limits imposed based on the X-Api-Key string.

        '
      name: API-Key
      in: header
externalDocs:
  description: Full API documentation
  url: https://www.weather.gov/documentation/services-web-api
